:root {
  --black-100: #0b0c0c;
  --black-80: #424242;
  --black-60: #555759;
  --black-50: #626a6e;
  --black-30: #b1b4b6;
  --black-20: #e1e3e5;
  --black-10: #f3f2f1;
  --font-plain: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  --font-special: "Times New Roman", "Times", serif;
  --font-small: 0.8rem;
  --font-medium: 0.9rem;
  --font-body-large: 1.15rem;
  --ratio: 1.414;
  --s-5: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) /
      var(--ratio)
  );
  --s-4: calc(
    var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio)
  );
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio)
  );
  --s5: calc(
    var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) *
      var(--ratio)
  );
  --line-height: var(--ratio);
  --line-height-small: calc(0.8 * var(--ratio));
  --border-radius: 6px;
  --scrollbarBG: #f0f0f0;
  --thumbBG: #cdcdcd;
  --space-color: #ffcdde;
  --project-color: #fff9c4;
  --task-color: #e1f5fe;
  --box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), 0 2px 2px rgba(0, 0, 0, 0.07),
    0 4px 4px rgba(0, 0, 0, 0.07), 0 6px 8px rgba(0, 0, 0, 0.07),
    0 8px 16px rgba(0, 0, 0, 0.07);
  --cubic-bezier: cubic-bezier(0.22, 0.61, 0.36, 1);
  --left-side-box-shadow: -1px 0 12px 1px rgba(0, 0, 0, 0.4);
  --right-side-box-shadow: 9px 0 12px -7px rgba(0, 0, 0, 0.4);

  line-height: var(--ratio);
  font-size: calc(0.18vw + 1rem);
  font-family: var(--font-plain);
  color: var(--black-100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

/* Make images easier to work with */
img {
  max-width: 100%;
}

svg {
  background-color: transparent;
}

/* Inherit fonts for inputs and buttons */
button,
input,
textarea,
select {
  color: inherit;
  font: inherit;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
}

.scrollbox {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.datepicker table {
  border-spacing: 0 8px;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.datepicker {
  flex: 2;
  margin-right: 40px;
  /* max-width: 50%; */
}

.month-header {
  font-size: 25px;
  font-weight: 600;
  margin-top: var(--s1);
}
.day {
  height: 47px;
  width: 47px;
  margin: 0 auto;
  display: block;
  background-color: rgba(0, 162, 255, 0.15);
  color: #00a2ff;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

button {
  cursor: pointer;
}

button[disabled] {
  color: rgba(77, 80, 85, 0.6);
  background-color: transparent;
  font-weight: initial;
  cursor: initial;
}
.calendar-weeks th {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

.scrollbox {
  overflow: auto;
  max-height: 500px;
  padding-right: 15px;
  background: /* Shadow covers */ linear-gradient(
      white 30%,
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
    /* Shadows */
      radial-gradient(
        farthest-side at 50% 0,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

#time-slots {
  background-color: transparent;
}

.time-slot {
  width: 100%;
  height: 55px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  color: rgb(0, 162, 255);
  border: 1px solid rgba(0, 162, 255, 0.5);
  font-weight: 600;
  transition: width 0.2s, font-size 0.2s, colot 0.2s;
}
.js-selected-time-slot {
  width: 50%;
  margin-right: 4%;
  font-size: 20px;
  color: #000;
  border: none;
  cursor: text;
}
.confirm-time-slot {
  width: 46%;
  height: 55px;
  border-radius: 5px;
  background-color: #0091ea;
  color: #fff;
  text-align: center;
}
.time-slot:hover {
  border-color: rgb(0, 162, 255);
  border-width: 2px;
}
.time-slot[disabled] {
  background: #ddd;
  border: none;
  color: gray;
}
.booked {
  position: relative;
  background-color: #69f0ae;
  color: #000;
  border: none;
}
.booked::before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 0.7rem;
  content: "\2713";
}
#app {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--s1);
}
.booker {
  display: flex;
  margin-top: var(--s-1);
}

#selected-date {
  padding: 5px;
  margin-bottom: 7px;
  margin-top: var(--s1);
}

#slots {
  position: sticky;
  top: 20px;
}
